.changepass-top {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.changepass-top-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 35px;

}

.changepass-top-box input {
  width: 475px;
  height: 40px;
  padding-left: 10px;
  border-style: none;
  border-radius: 5px;
  border: 1px solid black;
}

.new-password label {
  margin-top: 15px;
}

.changepass-bot {
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  padding-right: 14px;
  display: flex;
  padding-left: 35px;
}

.cancel-but button{
  width: 140px;
  height: 40px;
  border-style: none;
  background-color: #F95656;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 15px;
  margin-left: 185px;

}

.changepass-but button{
  width: 140px;
  height: 40px;
  margin-left: 10px;
  border-style: none;
  background-color: #7A66FF;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 15px;
  /* margin-left: 195px; */

}

.cancel-but button:hover {
  background-color: #df3131;
}

.changepass-but button:hover {
  background-color: #5640ea;
}